---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-4xl font-medium">Glitch</h1>

  <div class="mt-4">
    <fieldset class="p-4 border rounded-lg">
      <legend class="px-2">Count</legend>
      <p id="count">0</p>
    </fieldset>
  </div>

  <div class="mt-4">
    <fieldset class="p-4 border rounded-lg">
      <legend class="px-2">Is odd</legend>
      <p id="is-odd">0</p>
    </fieldset>
  </div>

  <div class="mt-4">
    <button
      class="border hover:bg-gray-200 hover:border-gray-300 px-2 text-sm h-8 font-medium rounded-lg"
      id="inc">Increment</button
    >
  </div>
</BaseLayout>

<script>
  import { signal, effect, computed } from "stand";

  const $count = document.getElementById("count") as HTMLParagraphElement;
  const $isOdd = document.getElementById("is-odd") as HTMLParagraphElement;
  const $inc = document.getElementById("inc") as HTMLButtonElement;

  const count = signal(0);
  const evenOdd = computed(() => (count.value % 2 ? "Odd" : "Even"));

  $inc.addEventListener("click", () => {
    count.value = count.value + 1;
  });

  effect(() => {
    $count.textContent = count.value.toString();
  });

  effect(() => {
    const text = `${count.value} is ${evenOdd.value}`;

    console.log(text);

    $isOdd.textContent = text;
  });
</script>
