---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <a class="block hover:underline text-blue-500" href="/query">Query</a>
  <a class="block hover:underline text-blue-500" href="/fib">Fibonacci</a>
</BaseLayout>
