---
import CountDisplay from "../components/CountDisplay.astro";
import CountQuery from "../components/CountQuery.astro";
---

<div class="py-10 space-y-4">
  <CountQuery />
  <CountDisplay />
</div>
